<h1>予約中の旅</h1>
<% @bookings.each do |booking| %>
  <div>
    <p>体験：<%= booking.experience.title %></p>
    <!-- lメソッドを使って書式を設定する -->
    <p>日時：<%= l booking.experience.start_datetime, format: :short %><p>
  </div>
  <br>
<% end %>